language: node_js
node_js:
  - "18"

# Services
services:
  - mongodb
  - redis-server

# Cache
cache:
  directories:
    - node_modules
    - client/node_modules

# Environment
env:
  global:
    - NODE_ENV=test
    - CI=true
    - PORT=5000

# Install
install:
  - npm ci
  - npm run build

# Script
script:
  - npm test