# .travis.yml
language: node_js
node_js:
  - "18"

services:
  - mongodb
  - redis-server

cache:
  npm: true
  directories:
    - node_modules
    - client/node_modules

env:
  - NODE_ENV=test
  - CI=true
  - PORT=5000

install:
  - npm ci
  - npm run build

before_script:
  - npm start &
  - sleep 15

script:
  - npm test

after_script:
  - pkill -f "node" || true