name: Node CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Create config/keys.js for CI
        run: |
          echo "Files in config before copy:"
          ls -la config
          cp -f config/keys.js.example config/keys.js
          echo "Files in config after copy:"
          ls -la config

      - name: Run tests
        run: npm test
